@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-font-color: #444444;

  --base-border-color: var(--base-font-color);

  --navbar-height: 75px;
}

@font-face {
  font-family: "Karla";
  src: local("Karla"),
  url("./../font/Karla-VariableFont_wght.ttf"),
  url("./../font/Karla-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "DMSerif";
  src: local("DMSerif"),
  url("./../font/DMSerifDisplay-Regular.ttf"),
  url("./../font/DMSerifDisplay-Italic.ttf");
}

@layer base {

  * {
    color: var(--base-font-color);
  }

  html, body {
    font-family: "Karla", system-ui, "sans-serif";
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
  }
}

@layer components {
  .hamburger {
    @apply flex flex-col justify-center items-center;
    @apply border-2 border-[color:var(--base-border-color)];
    @apply space-y-1 w-8 h-8 lg:hidden;
  }
  .hamburger__line {
    @apply border w-1/2 h-[2px] border-very-dark-violet;
  }

  .navbar {
    @apply flex items-center flex-wrap justify-between z-10;
    @apply relative h-[var(--navbar-height)] px-12 lg:px-28 bg-white;
  }

  .navbar--show .navbar__items {
    @apply block z-10;
  }

  .navbar--show .hamburger__line:nth-child(1) {
    @apply rotate-45 translate-y-[3px] transition-transform duration-300 ease-linear;
  }

  .navbar--show .hamburger__line:nth-child(2) {
    @apply hidden;
  }

  .navbar--show .hamburger__line:nth-child(3) {
    @apply rotate-[-45deg] translate-y-[-3px] transition-transform duration-300 ease-linear;
  }

  .navbar__brand {
    @apply font-bold text-3xl;
  }

  .navbar__items {
    @apply absolute top-[var(--navbar-height)] left-0 w-full;
    @apply bg-navbar-pattern-mobile bg-[color:var(--dark-violet)] bg-no-repeat bg-right-bottom;
    @apply text-center h-[calc(100vh-var(--navbar-height))] py-4;
    @apply hidden;
  }

  .navbar__items--desktop {
    @apply hidden;
    @apply lg:flex items-center justify-around space-x-6;
  }

  .navbar__item {
    @apply text-white font-medium uppercase py-4 tracking-wide text-lg;
  }

  .navbar__items--desktop .navbar__item {
    @apply text-[color:var(--base-font-color)];
  }

  .navbar__item:hover {
    @apply font-bold;
  }

  .btn {
    @apply border-2 py-2 px-6 uppercase;
  }

  .btn--outline {
    @apply border-white text-white bg-transparent;
  }

  .btn--violet {
    @apply border-dark-violet text-dark-violet bg-white;
  }

  .btn--outline.btn--violet:hover {
    @apply text-white bg-dark-violet;
  }

  .btn--outline:hover {
    @apply text-dark-violet bg-white;
  }

  .divider {
    @apply h-px;
  }

  .divider--violet {
    @apply bg-dark-violet;
  }

  .divider--white {
    @apply bg-white;
  }

  .divider--small {
    @apply w-40;
  }

  .divider--center {
    @apply mx-auto;
  }
}

body.navbar--show {
  @apply overflow-hidden;
}

.intro {
  @apply flex flex-col-reverse mb-28 lg:mb-60 xl:mb-96 lg:px-28;
  @apply md:flex-row md:items-center md:justify-between;
}

.intro__head {
  @apply mb-6 md:px-5 lg:pl-0 lg:pr-16;
}

.intro__content {
  @apply text-white text-center;
  @apply lg:text-left;
}

.intro__title {
  @apply mb-4 text-4xl font-DMSerif text-white text-center;
  @apply lg:text-left lg:text-6xl;
}

.intro__action {
  @apply text-center lg:text-left;
}

.different {
  @apply mb-32 md:px-28;
}

.different__title {
  @apply text-4xl font-DMSerif text-center md:text-left mb-12;
  @apply lg:text-6xl;
}

.different__items {
  @apply space-y-12 md:space-y-0;
  @apply md:flex md:align-top;
}

.different__item {
  @apply space-y-4 text-center md:text-left md:pr-4;
}

.different__logo-container {
  /* @apply w-2/12 mx-auto lg:mx-0; */
  @apply w-14 mx-auto md:mx-0;
}

.different__logo {
  @apply w-full h-auto;
}

.section {
  /* @apply lg:px-40; */
}

.section--violet {
  @apply bg-dark-violet;
}

.more {
  @apply flex flex-col lg:flex-row justify-center lg:justify-between items-center;
  @apply space-y-8 lg:space-y-0 mb-36;
  @apply py-20 md:px-14 lg:px-20;
}

.footer {
  @apply py-24 bg-very-light-gray md:px-28;
}

.footer__header {
  @apply flex flex-col h-16 md:h-auto;
  @apply md:flex-row justify-between items-center;
}

.footer__logo {
  @apply mx-auto md:mx-0;
}

.footer__items {
  @apply flex flex-col md:flex-row justify-start;
  @apply space-y-12 md:space-y-0;
}

.footer__item {
  @apply text-center md:text-left md:w-1/4;
}

.footer__socials {
  @apply flex items-center space-x-3;
}

.footer__social-logo:hover {
  @apply bg-green-100;
}

.footer__navs {
  @apply space-y-3;
}