@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  --base-font-size: 16px;
  --base-font-weight: 400;
}
/* 
  TODO:
  add font family for body
*/
@font-face {
  font-family: "DMSerif";
  src: url(
    "./../font/DMSerifDisplay-Regular.ttf",
    "./../font/DMSerifDisplay-Italic.ttf"
  )
}

@layer base {
  html, body {
    font-family: "DMSerif", "sans-serif";
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
  }
}
