@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-font-color: #444444;

  --base-border-color: var(--base-font-color);

  --navbar-height: 75px;
}

@font-face {
  font-family: "Karla";
  src: local("Karla"),
  url("./../font/Karla-VariableFont_wght.ttf"),
  url("./../font/Karla-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "DMSerif";
  src: local("DMSerif"),
  url("./../font/DMSerifDisplay-Regular.ttf"),
  url("./../font/DMSerifDisplay-Italic.ttf");
}

@layer base {

  * {
    color: var(--base-font-color);
  }

  html, body {
    font-family: "Karla", system-ui, "sans-serif";
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
  }
}

@layer components {
  .hamburger {
    @apply flex flex-col justify-center items-center;
    @apply border-2 border-[color:var(--base-border-color)];
    @apply space-y-1 w-8 h-8 lg:hidden;
  }
  .hamburger__line {
    @apply border w-1/2 h-[2px] border-very-dark-violet;
  }

  .navbar {
    @apply flex items-center flex-wrap justify-between z-10;
    @apply relative h-[var(--navbar-height)] px-12 lg:px-40 bg-white;
  }

  .navbar--show .navbar__items {
    @apply block z-10;
  }

  .navbar--show .hamburger__line:nth-child(1) {
    @apply rotate-45 translate-y-[3px] transition-transform duration-300 ease-linear;
  }

  .navbar--show .hamburger__line:nth-child(2) {
    @apply hidden;
  }

  .navbar--show .hamburger__line:nth-child(3) {
    @apply rotate-[-45deg] translate-y-[-3px] transition-transform duration-300 ease-linear;
  }

  .navbar__brand {
    @apply font-bold text-3xl;
  }

  .navbar__items {
    @apply absolute top-[var(--navbar-height)] left-0 w-full;
    @apply bg-navbar-pattern-mobile bg-[color:var(--dark-violet)] bg-no-repeat bg-right-bottom;
    @apply text-center h-[calc(100vh-var(--navbar-height))] py-4;
    @apply hidden;
  }

  .navbar__items--desktop {
    @apply hidden;
    @apply lg:flex items-center justify-around space-x-6;
  }

  .navbar__item {
    @apply text-white font-medium uppercase py-4 tracking-wide text-lg;
  }

  .navbar__items--desktop .navbar__item {
    @apply text-[color:var(--base-font-color)];
  }

  .btn {
    @apply border-2 py-2 px-6 uppercase;
  }

  .btn--outline {
    @apply border-white text-white bg-transparent;
  }

  .btn--violet {
    @apply border-dark-violet text-dark-violet bg-white;
  }
}

body.navbar--show {
  @apply overflow-hidden;
}

.article {
  @apply bg-[color:var(--dark-violet)] bg-no-repeat;
  @apply flex flex-col-reverse;
  @apply lg:flex-row lg:px-40;
}

.article__content {
  @apply text-center lg:text-left text-white;
}

.article__title {
  @apply text-4xl font-DMSerif  text-white text-center lg:text-left;
  @apply text-6xl;
}

.section__more {
  @apply bg-dark-violet;
  @apply mx-5 lg:mx-40;
}

.section__more-container {
  @apply flex flex-col lg:flex-row justify-center lg:justify-between items-center;
  @apply py-14 px-11;
  @apply space-y-8 lg:space-y-0;
}
